{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    h3 {
        color: rgb(225, 211, 193);
        text-align: center;
        margin-top: 50px;
    }

    th,
    td {
        text-align: center;
        padding: 10px;
    }

    .bi-pencil {
        color: rgb(255, 255, 255);
    }

    .bi-trash {
        color: rgb(247, 246, 246);
    }

    .bi-eye {
        color: azure;
    }

    .bi-calculator {
        color: aliceblue;
    }

    .bi-person-check {
        align-items: center;
        color: aquamarine;
    }

    .btn-warning {
        background-color: darksalmon;
    }

    .btn-success,
    .btn-primary {
        background-color: rgb(39, 193, 199);
        color: rgb(255, 255, 255);
        margin-bottom: 25px;
    }

    @media (max-width: 768px){
    th,
    td {
        text-align: center;
        padding: 10px;
        max-width: 50%;
    }
    }
</style>

<center>
    <h3>Planos de Contas</h3>
    <i class="bi bi-calculator" style="font-size: 2rem;"></i>
</center>

<div class="container">
    <div class="col md-4">
        <div class="row mb-4"></div>
        <a href="{% url 'planos_cadastrar' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i> Novo Plano de Contas
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Movimento</th>
                </tr>
            </thead>
            <tbody>
                {% for plano in planos %}
                <tr>
                    <td>
                        <a href="{% url 'planos_detalhes' plano.pk %}" class="btn btn-info btn-sm" title="Detalhes" data-bs-toggle="tooltip" data-bs-placement="top">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="{% url 'planos_editar' plano.pk %}" class="btn btn-warning btn-sm" title="Editar" data-bs-toggle="tooltip" data-bs-placement="top">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'planos_excluir' plano.pk %}" class="btn btn-danger btn-sm" title="Excluir" data-bs-toggle="tooltip" data-bs-placement="top">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <td>{{ plano.codigo }}</td>
                    <td>{{ plano.nome }}</td>
                    <td>{{ plano.get_tipo_display }}</td>
                    <td>{{ plano.get_movimento_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
