{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Animais{% endblock %}

{% block content %}

<br><br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'agricola/liststyles.css' %}">

<div class="container">
            <h2>Lista de Filiais</h2>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'branch_create' %}" class="btn btn-success-custom mb-4 float-end">Nova filial</a>
        </div>
        <div class="container">
            {% if branches %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Ações</th>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for branch in branches %}
                        <tr>
                            <td>
                                <a href="" class="btn btn-sm" style="background-color: #7ab1ec; color: white;">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="" class="btn btn-sm" style="background-color: #e7a0a7; color: white;">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>{{ branch.id }}</td>
                            <td>{{ branch.name }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Não há Filiais para exibir.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}